@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  position: absolute;
  margin-left: auto;
  left: 41px;
  top: 1px;
  width: 187px;
}
* {
  box-sizing: border-box;
}
/*Estilos generales*/
.Cabecera {
  height: auto;
  background-color: #3D5DAA;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 25px;
}
.Título {
  font-family: mr-eaves-sans, sans-serif;
  padding-left: 15px;
  font-weight: 800;
  font-style: normal;
  color: rgba(242, 242, 242, 1.00);
}
.parteprincipal {
  display: flex;
  justify-content: center;
}
h1 {font-size: 20px;}
.intro {
        padding: 10px;
        text-align: center;
        background-color: #F2F2F2;
}
 .calendario {
    margin-top: 10px;
    width: 95%;
    border-radius: 3px;
     margin-left: auto;
     margin-right: auto;
    height: 320px;
    -webkit-box-shadow: 2px 2px 6px -5px;
    box-shadow: 2px 2px 6px -5px;
    border: 1px solid rgba(61, 93, 170, 0.20);
  }
  .bordecalendario {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 65px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #1C58A6;
    }
  .calendariogoogle {
    display: block;
    width: 95%;
    height: 230px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
  }
h2 {
  font-family: mr-eaves-sans, sans-serif;
  font-size: 25px;
  font-weight: 600;
  font-style: normal;
  text-align: center;
    padding-right: 15px;
  color: rgba(242,242,242,1.00);
}
.recopilacionpacientes {
    display: flex;
  justify-content: center;
  align-items: center;
padding: 15px;
}
form {
    width: auto;
    display: flex;
    background-color: #A3BCF7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 6px -5px;
    font-size: 15px;
    font-family: 'mr-eaves-sans';
    flex-wrap: wrap;
}
input[type="text"],
input[type="date"],
select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
input[type="submit"] {
  background-color: #333;
  color: white;
  padding: 10px 20px;
}
input[type="text"],
input[type="date"],
select,
input[type="submit"] {
  border-radius: 5px;
    font-size: 10px;
    border: thin;
}
label {
    margin-bottom: 7px;
}
.piemapa {color: #3D5DAA;
font-size: 13px;}
p {
	font-size: 12px;
	font-family: nimbus-sans, sans-serif;
	color: #1C58A6;
	font-weight: normal;
}
#container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 10px;
}
#container > div {
	text-align: center;
	background-color: rgba(255,255,255,1.00);
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
    margin-bottom: 5px;
	padding: 5px;
	width: 150px;
	height: 160px;
}
.mapas {
    margin-bottom: 5px;
	border-radius: 10px;
	-webkit-box-shadow: 3px 3px 6px -5px;
	box-shadow: 3px 3px 6px -5px;
	border: 1px solid rgba(61, 93, 170, 0.20);
}
/*Estilos por tamaño*/
@media (max-width: 320px){
  .Cabecera {
    flex-direction: column;
      height: auto;
  }
  .Título {
    text-align: center;
      padding-left: 0px;
  }
    h1 {font-size: 17px;
    padding-top: 5px;}
    h2 {font-size: 15px;
    padding-right: 10px;}
  }
  @media (min-width: 321px) and (max-width: 767px) {}
  @media (min-width: 768px) {}
  .piemapa {}
