@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	width: auto;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  position: absolute;
  margin-left: auto;
  left: 41px;
  top: 1px;
  width: 187px;
}
* {box-sizing: border-box;}
.cuerpo {
    background-color: #3D5DAA;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.Cabecera {
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Titulo {
  font-family: mr-eaves-sans, sans-serif;
  padding-left: 12px;
  font-weight: 800;
  font-style: normal;
  color: rgba(242, 242, 242, 1.00);
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input[type="text"], input[type="password"] {
    width: 250px;
    height: 30px;
    padding-left: 10px;
    border-radius: 2px;
    border: none;
}
a {
  align-self: flex-end;
  font-size: 14px;
  color: #F2F2F2;
  padding-bottom: 2px;
}
input[type="button"] {
  align-self: flex-end;
  border-radius: 2px;
  background-color: #7CAB2C;
  border: none;
  height: 25px;
  -webkit-box-shadow: -3px 3px 8px -1px #0D2662;
  box-shadow: -3px 3px 8px -1px #0D2662;
  color: #F2F2F2;
}